[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "==3.12.4"
django-cors-headers = "==3.8.0"
requests = "==2.26.0"
gunicorn = "==20.1.0"
django-heroku = "==0.3.1"
psycopg2 = "==2.7.5"
pandas = "*"
asgiref = "==3.4.1"
certifi = "==2021.5.30"
charset-normalizer = "==2.0.4"
dj-database-url = "==0.5.0"
idna = "==3.2"
pytz = "==2021.1"
sqlparse = "==0.4.1"
typing-extensions = "==3.10.0.0"
urllib3 = "==1.26.6"
whitenoise = "==5.3.0"
Django = "==3.2.6"

[dev-packages]

[requires]
python_version = "3.6"
